body {
    background-color: rgb(125, 186, 255);
    }
      footer {
        background-color: rgb(14, 64, 104);
        color: rgb(0, 0, 0);
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    footer {
        text-align: center;
        font-size: 1.0rem;
        margin-top: 0.9rem;
}
body {
    background-color: rgb(125, 186, 255);
    font-family: Bai Jamjuree;
    }